{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> selam </title>
    <link rel = " stylesheet" href= "{% static 'styles.css' %}">
  </head>
  <body class = "homepage">
    <nav>
      <ul>
      <li><a id ="home" href=""> HOMEPAGE </a></li>
      <li><a id = "articles"href="/articles/"> ARTICLES </a></li>
      <li><a id = "about"href="/about/"> ABOUT </a></li>
      </ul>
    </nav>
    <br style="margin-bottom:10px;"/>
    <h1>SELAMMMM :)</h1>
    <p>Bunlar son 3 yazım.</p>
  </body>
</html>
